@import 'scott_styles/reset.less';
@import 'scott_styles/animations.less';

//@import 'scott_styles/colors.less';
//@import 'scott_styles/tooltip.less';

html, body, #reactContainer, .beertimer{
	height : 100%;
	box-sizing: border-box;
}

/*
@bgRed : #d98027;
@bgGreen : #4ab449;
*/

.beertimer{
	.animate(background-color, 1s);
	background-color : #ddd;





	padding : 30px;
}