@import 'scott_styles/reset.less';
@import 'scott_styles/animations.less';

//@import 'scott_styles/colors.less';
//@import 'scott_styles/tooltip.less';

html, body, #reactContainer, .beertimer{
	height : 100%;
	box-sizing: border-box;
}

/*
@bgRed : #d98027;
@bgGreen : #4ab449;
*/

.beertimer{
	.animate(background-color, 1s);
	background-color : #ddd;
	padding : 30px;
}

html {
	color: white;
	font-family: Open Sans, Lato, sans-serif;
	text-transform: uppercase;
}
h1, h2, h3, h4, p, div {
	line-height: 1.3em;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
}